*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:"outfit" ;
    src: url(../fonts/Outfit/static/Outfit-Regular.ttf);
}

p{
    font-size: 18px;
    font-family: "outfit";
    color: white;
}

main{
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.cardContainer{
    background-color: aliceblue;
    height: 30rem;
    width: 18rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: hsl(216, 50%, 16%);
        
        .name{
            margin-bottom: 1rem;
        }
        .describtion{
            margin-bottom: 1rem;
            font-size: 0.8rem;
            color: #7a90b5;
        }
        .price{
            color: hsl(178, 100%, 50%);
            display: flex;
            align-items: baseline;
        }
        .price::before{
            content:url(../../images/icon-ethereum.svg);
        }
        .time{
            color: hsl(215, 51%, 70%);
        }
        .time::before{
            content: url(../../images/icon-clock.svg);
        }

        

        .textContainer{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }



        .imageContainer{
            width: 100%;
            height: 60%;
            background:url(../../images/image-equilibrium.jpg);
            background-size:cover;
            background-repeat:no-repeat;
            background-position:center;
            border-radius: 20px;
            margin-bottom: 1rem;
        }
}